html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    padding: 0 80px;
    box-sizing: border-box; 
}

header {
    background-image: url("../public/images/rectangle298.png");
    background-size: cover; 
    background-position: center; 
    width: auto;
    height: 672px;
    position: relative;

}

header h1 {
    margin: 0;
}

.imageCover {
    width: 404px;
    height: 654px;
    position: absolute; 

    top: 0;
    right: 0;
}

.rm314 {
    width: auto; 
    height: 341px;
    position: absolute; 
    bottom: 0;
    opacity: 0.61; 
    mix-blend-mode: soft-light;
}

.group52 {
    display: flexbox;
    width: 468px;
    height: 208.73px;
    position: absolute;
    top: 65px;
    left: 47.31px;
}

.group52 h1 {
    width: 369.04px;
    height: 107.73px;
    top: 65px;
    left: 47.31px;
    font-family: "Poppins", sans-serif;
    color: white;
    letter-spacing: 3px;

    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
}

.group52 h2 {
    width: 53.78px;
    height: 24.79px;
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
    background: linear-gradient(to right, #14DB60, #AAFFCB); /* ไล่สี */
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: transparent; 

    letter-spacing: 3px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}

.group52 h3 {
    width: 467.06px;
    height: 37.44px;
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 700;
    margin: 10px 0;
    background: linear-gradient(to right, #14DB60, #AAFFCB);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

   
}

.group24 {
    display: flex;
    position: absolute;
    width: 566px;
    height: 71.38px;
    top: 318px;
    left: 47.31px;
}


.date {
    display: flex;
    position: absolute;
    
}

.date p {
    margin: 0;
    width: auto;
    height: 32.07px;
    top: 318px;
    left: 50.41px;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: white;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.date .Mar2023 {
    width: auto;
    height: 17.59px;
    font-size: 19px;
    position: sticky;
    margin-left: 10px;
    align-self: flex-end;
    justify-content: center;
}

.time {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 10px;

    width: 132px;
    height: 25.86px;
    align-items: center;
    justify-content: center;

    top: 40px;
    margin-top: 3px;
}

.time p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #100751;
}

.block1,
.block2,
.block3 {
    height: 71.38px;
}

.block1 {
    flex: 2; 
}

.block2 {
    flex: 0.1; 
    display: flex;
    align-items: center;
}

.line {
    width: 2.54px;
    height: 50px;
    background-color: #14DB60;

    position: relative;
    top: 6px;
}

.block3 {
    flex: 5; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-left: 13px;

    position: relative;
    top: 5px;
}

.text1Block3 {
    font-size: 19px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    
    background: linear-gradient(to right, #14DB60, #AAFFCB);/* ไล่สี */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text2Block3 {
    font-size: 15px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-top: 5px;
}

.containerHealthcare {
    position: absolute;
    width: 555px;
    height: 54px;
    top: 437px;
    left: 47.31px;
}

.containerHealthcare h1 {
    font-size: 28px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
    color: white;
}

.containerContent {
    position: absolute;
    width: 811px;
    height: 72px;
    top: 495px;
    left: 48.31px;
}

.containerContent p {
    margin: 0;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: white;
}

.logoSpensor {
    position: absolute;
    width: 775.4px;
    height: 32.65px;
    top: 613px;
    left: 47.31px;
}


.containerContentHealthcare {
    position: relative;
    width: auto;
    height: 405px;

    background-color: #ffffff;
}

.headContent {
    margin: 0;
    position: absolute;
    width: auto;
    top: 40px;
    left: 30.31px;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #1D1A73;
}

.headContent span {
    color: #14DB60;
    /* สีเขียว */
}

ul {
    list-style-type: none;
    position: absolute;
    top: 119.73px;
    left: 31.31px;
    font-family: Noto Sans Thai;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

    margin: 0;
    padding: 0;
}

.containerContentHealthcare li {
    margin: 10px;
}

li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #25DF6C;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-right: 8px;
}

.main-speaker-container {
    background-image: url("../public/images/bgMain.png");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 837px;

    padding: 30px;
    opacity: 0px;
}

.main-speaker-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.indicator {
    width: 10px;
    height: 44px;
    background-color: #00d08b;
    /* สีเขียวตามรูป */
    border-radius: 7px;
    margin-right: 8px;

    /* position: relative;
    left: 47.31px; */

}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    background: linear-gradient(111.88deg, #0E044B -24.36%, #2C309B 66.53%, #89E8FD 142.57%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;
    padding-left: 10px;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speaker {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.speaker img {
    width: 145.72px;
    height: 186.92px;
    border-radius: 10px;
}

.speaker-info {
    margin-top: 10px;
}

.speaker-info h3 {
    color: #0e044b;
    /* สีหัวข้อ */
    margin: 10px 0 5px 0;

    font-family: Noto Sans Thai;
    font-size: 24px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.01em;
}

.speaker-info h4 {
    font-family: Noto Sans Thai;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.speaker-info p {
    color: #262E3F;
    margin: 5px 0;

    font-family: Noto Sans Thai;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.speaker-info .nameGroup {
    font-family: Noto Sans Thai;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin: 10px 0;
    color: #359EFF;
}

.containerRegister {
    width: auto;
    height: 196px;
    background: linear-gradient(24.25deg, #0E044B 3.94%, #2C309B 67.69%, #89E8FD 128.26%);
}

.containerRegister2 {
    width: auto;
    height: 196px;
    background: linear-gradient(183.65deg, #0B0F17 -12.4%, rgba(0, 13, 56, 0) 230.51%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textRegister1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.textRegister1 p {
    margin: 0;
    color: #FFFFFF;
    font-size: 26px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
}

.textRegister1 .num {
    margin-left: 7px;
    color: #BAD0F2;
    ;
    font-size: 24px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    opacity: 0.9;
}

.containerRegister .note {
    margin: 0;
    margin-top: 10px;
    color: #BAD0F2;
    ;
    font-size: 20px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    opacity: 0.9;
    text-align: center;
}

.buttonRegister {
    width: 300px;
    height: 57.88px;
    border-radius: 8px;
    font-size: 26px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
    background: linear-gradient(115.71deg, #0BB64C 2.75%, #27D96B 79.77%);
    color: rgb(255, 255, 255);

    margin: 20px;
    border: none;
}

.schedule-container1 {
    padding: 20px;

    margin: 0 auto;
    background-color: #e7f0fa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schedule-title {
    display: flex;
    align-items: center;
}

.indicator {
    width: 10px;
    height: 40px;
    background-color: #00d08b;
    /* สีเขียวตามรูป */
    margin-right: 8px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    background: linear-gradient(111.88deg, #0E044B -24.36%, #2C309B 66.53%, #89E8FD 142.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.schedule-container2 {
    position: relative;
    display: flexbox;
    height: 160px;
    padding: 20px;
    margin: 10px auto;
    background-color: #e7f0fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schedule-container2 .session {
    width: 305px;
    height: 44px;
    border-radius: 28px;
    background-color: #0CC553;

    display: flex;
    align-items: center;
    justify-content: center;

}

.schedule-container3 .session p,
.schedule-container2 .session p {
    margin: 0;
    font-family: Noto Sans Thai;
    font-size: 24px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #ffffff;

}

.ulSession {
    list-style-type: none;
    top: 90px;
    margin: 10px 0 0 0;
    font-family: Noto Sans Thai;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

    margin: 0;
    padding: 0;
}


.ulSession li::before {
    content: '';
    display: inline-block;
    width: 10.93px;
    height: 10.93px;
    background-color: #25DF6C;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-right: 8px;

    position: relative;
}

.schedule-container3 {
    position: relative;
    display: flex;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    background-color: #e7f0fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.schedule-container3 .session {
    width: 213px;
    height: 44px;
    border-radius: 28px;
    background-color: #0CC553;

    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-container3 p {
    font-family: Noto Sans Thai;
    font-size: 23px;
    font-weight: 500;
    line-height: 11px;
    text-align: left;
    margin: 0;
    margin-left: 20px;
    color: #262E3F;

    display: flex;
    justify-content: center;
    align-items: center;


}

.containerZone6 {
    position: relative;
    width: auto;
    height: 290px;
    border-radius: 20px;
    background: linear-gradient(230.87deg, #5D97E3 -7.19%, #0C2192 66.6%);

    box-sizing: border-box;
}

.locationZone6 {
    position: relative;
    width: 81.66px;
    height: 81.66px;
    top: 60px;
    left: 40px;
}

.containerZone6 h3 {
    position: absolute;
    width: 433px;
    height: 12px;
    left: 150px;
    top: 30px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 12px;
    /* identical to box height, or 32% */

    color: #FFFFFF;
}

.containerZone6 p {
    margin: 0;
    position: absolute;
    width: 517px;
    height: 59px;
    left: 150px;
    top: 100px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 59px;
    /* identical to box height, or 184% */
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.rectangleZone6 {
    position: absolute;
    width: 344px;
    height: 68px;
    left: 150px;
    top: 180px;

    background: #359EFF;
    border-radius: 45px;
}

.rectangleZone6 p {
    position: absolute;
    left: 32px;
    top: 25px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    /* identical to box height, or 53% */
    letter-spacing: 0.01em;

    color: #ffffff;

}

.grandPng {
    position: absolute;
    width: 304px;
    height: 250px;
    left: 720px;
    top: 20px;

    border-radius: 12px;

}

.prizes-border {
    background: linear-gradient(to bottom, #ffffff, #34EA67);
    padding: 2px;
    /* ขนาดของเส้นขอบ */
    border-radius: 8px;
    /* รัศมีของมุมโค้ง */
}

.prizes-container {
    background-color: #fff;
    /* border: 2px solid #34EA67;
    border-radius: 8px; */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    text-align: center;
}

.prizes-container h2 {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;

    text-align: left;
    background: linear-gradient(111.88deg, #0E044B -24.36%, #2C309B 66.53%, #89E8FD 142.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prizes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prize-item {
    text-align: left;
}

.prize-item h3 {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 0;

    color: #262E3F;
}

.prize-item h3 span {
    font-weight: normal;
    color: #6E7788;
}

.prize-item p {
    color: #6F7788;

    font-family: Noto Sans Thai;
    font-size: 22px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.02em;
}

.ipadImg {
    width: 87.2px;
    height: 72.82px;
    top: 132px;
    left: 95px;
    margin: 10px;
}

.watchImg {
    width: 87.2px;
    height: 72.82px;
    top: 132px;
    left: 95px;
    margin: 10px;
}

.smsImg {
    width: 169px;
    height: 27.21px;
    top: 158.72px;
    left: 734.39px;
    margin: 33px;
    margin-left: 10px;
}
.containerZone8 {
    width: auto;
    height: 250px;
    background-color: #ffffff;
    text-align: center;

    display: flex;
    /* เพิ่ม */
    flex-direction: column;
    /* เพิ่ม */
    justify-content: center;
    /* เพิ่ม */
    align-items: center;
}

.textRegister1Zone8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.textRegister1Zone8 p {
    margin: 0;
    color: #0C2292;
    font-size: 26px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
}

.textRegister1Zone8 .num {
    margin-left: 7px;
    color: #6E7788;
    font-size: 24px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    opacity: 0.9;
}

.containerZone8 .note {
    margin: 0;
    margin-top: 10px;
    color: #262E3F;
    ;
    font-size: 20px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 400;
    opacity: 0.9;
    text-align: center;
}

.buttonZone8 {
    width: 300px;
    height: 57.88px;
    border-radius: 8px;
    font-size: 26px;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
    background: linear-gradient(115.71deg, #0BB64C 2.75%, #27D96B 79.77%);
    color: rgb(255, 255, 255);

    margin: 20px;
    box-shadow: 0px 8px 16px 0px #0ABA113D;

    border: none;
}

.containerFooter {
    width: auto;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPhone {
    width: 40.03px;
    height: 40.03px;
    margin: 15px;
}

.containerFooter P {
    font-family: Noto Sans Thai;
    font-size: 22px;
    font-weight: 500;
    line-height: 11px;
    text-align: left;
    color: #6E7788;
}

.containerFooter .namePhone {
    font-family: Noto Sans Thai;
    font-size: 24px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;

    color: #3138A0;
}

